body
{
   background-color: #009933;
   background-image: url(images/index_bkgrnd.png);
   background-repeat: repeat-y;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1
{
   color: #FFFFFF;
   font-family: 微软雅黑;
   font-weight: normal;
   font-size: 64px;
   line-height: 82.5px;
}
#wb_Text1 p, #wb_Text1 ul
{
   margin: 0;
   padding: 0;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
   -webkit-animation: transform-shake 10000ms linear 1000ms infinite normal both;
   -moz-animation: transform-shake 10000ms linear 1000ms infinite normal both;
   animation: transform-shake 10000ms linear 1000ms infinite normal both;
}
#wb_Text2
{
   color: #DC143C;
   font-family: 微软雅黑;
   font-weight: normal;
   font-size: 43px;
   line-height: 55.5px;
}
#wb_Text2 p, #wb_Text2 ul
{
   margin: 0;
   padding: 0;
}
#Image1
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image1
{
   position: absolute;
   left: 748px;
   top: 291px;
   width: 353px;
   height: 353px;
   z-index: 3;
}
#wb_Text1
{
   position: absolute;
   left: 784px;
   top: 48px;
   width: 281px;
   height: 84px;
   z-index: 1;
}
#wb_Text2
{
   position: absolute;
   left: 524px;
   top: 151px;
   width: 801px;
   height: 113px;
   z-index: 2;
}
@media only screen and (max-width: 969px)
{
body
{
   background-color: #009933;
   background-image: url(images/index_bkgrnd320.png);
   background-repeat: repeat-y;
}
#BuildWith1
{
   left: 145px;
   top: 319px;
   width: 29px;
   height: 10px;
   visibility: visible;
   display: inline;
}
#wb_Text1
{
   left: 22px;
   top: 21px;
   width: 278px;
   height: 84px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#wb_Text2
{
   left: 27px;
   top: 113px;
   width: 264px;
   height: 452px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#wb_Image1
{
   left: 22px;
   top: 591px;
   width: 269px;
   height: 269px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
}
